{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
{{top_text}} {{question.question}} | {{ block.super }}
{% endblock %}

{% block header0 %}
{{ form.media }}
{% endblock %}

{% block qna_content %}
<div style="margin-top: 100px"></div>
<div class="row">
	<div class="col">

		<!-- <h3>{{top_text}}</h3> -->
		<h3><u>{{form_text}}</u></h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<h4><small>Question:</small> {{question.question}}</h4>
		<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
			{{ form|crispy }}
			<input type='submit' class='btn btn-outline-primary btn-lg' value='{{ tab_text }}'/>
		</form>
	</div>
</div>
<div style="margin-top: 100px"></div>

{% endblock %}