	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; <a href="http://twitter.com/newlifeshoes" target="_blank">Ali Khundmiri</a> 2018</p>
		</div>
		<div class="container">
			<p class="m-0 text-center text-white">Logo by <a href="https://logomakr.com/" target="_blank">logomakr.com</a><br>
			<a href="https://github.com/alikhundmiri/qnapps/issues" target="_blank">Q and apps Issues</a></p>
		</div>
		<!-- /.container -->
	</footer>
