{% extends 'base.html' %}
{% load static %}


{% block title %}
App page | {{ block.super }}
{% endblock %}

{% block header0 %}
<style>
custom-item {
	/*margin-bottom: 0px !important;
	margin-bottom: 0px;*/
}
</style>
{% endblock %}
<body>
	{% block qna_content %}
	<h1 class="my-4">Questions <small class="muted-text">& Apps</small></h1>
	<!-- <div class="col">
		<div class="row">
			<div class="col-lg-12">
				<form method="get" action="">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search from {{questions|length}} questions..."
						value="{{ request.GET.q }}">
						<button class="btn btn-outline-default btn-sm" type="submit" value="Search">search</button>
					</div>
				</form>
			</div>
		</div>
	</div> -->
	<div class="col">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link disabled" href="{% url 'core:browse_popular' %}">Sort by</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if sort_by == 'browse_popular' %} active {% endif %}" href="{% url 'core:browse_popular' %}"><abbr title="Sort by Questions with most numbers of Answers. Default sort.">Popular</abbr></a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if sort_by == 'browse_new' %} active {% endif %}" href="{% url 'core:browse_new' %}"><abbr title="Sort by new Questions.">New</abbr></a>
			</li>
<!-- 			<li class="nav-item">
				<a class="nav-link disabled {% if sort_by == 'browse_trend' %} active {% endif %}" href="#"><abbr title="Sort by Questions with latest answered. Needs Fixing, coming soon!.">Trending</abbr></a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled {% if sort_by == 'browse_favourite' %} active {% endif %}" href="#">
					<abbr title="Favourite Questions of visitors. (Future release, coming soon)">Favourite</abbr>
				</a>
			</li> -->
		</ul>
	</div>
	<div>
		{% for question in questions %}

		<div class="col" style="margin: 20px; padding: 30px; background-color: rgba(0,0,0,.06); border-radius: 5px">
			<div class="row">
				<div class="col">
					<div class="float-right">
						<a class="btn btn-outline-info btn-sm" href="{% url 'core:question_detail' question.id %}">View detail</a>
						{% if request.user.is_authenticated %}
						<a class="btn btn-outline-primary btn-sm" href="{% url 'core:new_answer' request.user.username question.id %}">+</a>
						{% endif %}
					</div>
					<div class="row">
						<h3>
							{{question.question}}
						</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card-columns">
					{% for answer in question.app_answer.all %}
					<div class="card">
						<div class="card-body text-center">
							<h5 class="card-title custom-item" style="margin-bottom: 0px;">
								<a href="{{answer.app_url}}" target="_blank">{{answer.app_name}}</a>
							</h5>
						</div>
						<div class="card-footer">
							<p class="card-text"><small class="text-muted">Last updated {{answer.updated|timesince}} ago</small></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="float-right">
				<p><small class="text-muted">Last updated {{question.updated|timesince}} ago</small></p>
			</div>
		</div>
		{% endfor %}
	</div>
	{% if questions %}

	<div class="pagination col-lg-12">
		<ul class="step-links pager">
			{% if questions.has_previous %}
			<li><a href="?{{ page_request_var }}=

				{{ questions.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer</a>
			</li>
			{% endif %}

			<span class="current">
				Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
			</span>

			{% if questions.has_next %}
			<li><a href="?{{ page_request_var }}=
				{{ questions.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older</a>
			</li>
			{% endif %}
		</ul>
	</div>


	{% endif %}

	{% endblock %}
	{% block right_content %}
	<div class="position-fixed">
		<div class="card my-4">
			<h5 class="card-header text-muted">Search <small>for questions and apps</small></h5>
			<div class="card-body">
				<form method="get" class="form-inline" action="">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search..."
						value="{{ request.GET.q }}">
						<button class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="Search">search</button>
					</div><!-- /input-group -->
				</form>
			</div>
		</div>
		<div class="card my-4">
			<!-- <h5 class="card-header text-muted">Search <small>for questions and apps</small></h5> -->
			<div class="card-body">
				<p class="text-muted" style="margin-bottom: 0px;">
					<a href="" data-toggle="modal" data-target="#AdvertModal" onclick="ga('send', 'event', 'buttons', 'Clicked', 'interested in sponsoring');" style="color: gray">interested in sponsoring?</a>
				</p>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="AdvertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Paid Advertisment</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Thanks for showing interest in becoming a sponsor. 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</body>