{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Question and Apps</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'base/css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">QnApps</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#about">Idea</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#services">Use</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#funnel_in">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#contact">The Maker</a>
					</li>

					<a class="btn btn-danger navbar-btn" href="{% url 'core:browse_popular' %}">View Product</a>
				</ul>
			</div>
		</div>
	</nav>

	<header class="bg-primary text-white">
		<div class="container text-center">
			<h1>Questions & Apps</h1>
			<p class="lead">Have a Question? There's an app* for it!</p>
		</div>
	</header>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Idea</h2>
					<p class="lead">Every thing ever invented was thought of because of a question. Here I am collecting questions which have lead for you to create ideas.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="services" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>How to use</h2>
					<p class="lead">
						There are multiple <i>Questions</i> whos answers are <i>solutions</i> in form of apps.
						<br><br>
						These questions are submitted by Indie hackers, product developers and also by people who are seeking solutions for their daily problems.
						<br><br>
						After submission, each question is verified by the developer to maintain authencity of this website. Making sure each question is unique and each app is correctly placed is taken very seriously.
						<br><br>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>How is this website useful?</h2>
					<p class="lead">
						<b><u>For comsumers</u></b><br>
						You will find multiple services and apps suitable for your need and question.<br><br>You may find solutions to your existing questions, or find alternative to your existing solution provider.
						<br><br>You can even ask questions if you can't find their solutions.<br><br><br>
						
						<b><u>For Indie hackers and product developers</u></b><br>
						You can search for problems to solve here.<br><br>If you find a question related to a service you provide, you can submit your app as an answer to that question.
						<br><br>In addition to this, if you have already created a service, then you can submit a question whose answer is your solution and reach new audience.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="funnel_in" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Register</h2>
					<p class="lead">
						You can browse the website for questions by clicking the red button in the navigation bar, or by <a href="{% url 'core:browse_popular' %}">clicking here</a>. <br>
						However, in order to submit your product, you need to register.
					</p>
					<a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg">Free Registration</a>
					<br><br><p>
						or, if you already have an account here
					</p>
					<a href="{% url 'login' %}" class="btn btn-outline-danger">Login</a>
					
				</div>
			</div>
		</div>
	</section>


	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>The Maker</h2>
					<p class="lead">Hi, I Am Ali, and I made this site. Being an Indie hacker, I work on multiple small projects through out the year, and this is one of them. I am on my way to create profitable side projects by the end of 2018, with a goal of $500 monthly recurring revenue.<br></p>
					<p class="lead">
					I am mostly active on twitter, so if you have any passing remarks or hickups using my products, feel free to contact me on twitter. :-)</p>
					<a href="https://twitter.com/newlifeshoes?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @newlifeshoes</a>
					<a href="https://twitter.com/intent/tweet?screen_name=newlifeshoes&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to @newlifeshoes</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<!-- <img src="https://pbs.twimg.com/profile_images/982524881764999168/XEs_-jBy_400x400.jpg"> -->
				</div>
			</div>
		</div>
	</section>

	{% include 'footer.html' %}

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Custom JavaScript for this theme -->
	<script src="{% static 'base/js/scrolling-nav.js' %}"></script>

</body>

</html>
