{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Question And Apps is a discovery site to find about potential problems to solve. Here you can find questions and their answers given in form of apps or product.">
	<meta name="author" content="@newlifeshoes">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@newlifeshoes">
	<meta name="twitter:creator" content="@newlifeshoes">
	<meta property="og:url" content="{{ request.build_absolute_uri }}">
	{% comment %}
	<!-- summary_large_image -->
<!-- 	<meta name="twitter:image" content="https://s3.amazonaws.com/side-projects/afiio/media/profiles/ali/card/ali_user_card_1.png">
	<meta property="og:image" content="https://s3.amazonaws.com/side-projects/afiio/media/profiles/ali/card/ali_user_card_1.png">
-->
{% endcomment %}
<meta name="twitter:title" content="Question And Apps - Each question has an app for answer">
<meta property="og:title" content="Question And Apps - Each question has an app for answer">
<meta name="twitter:description" content="Question And Apps is a discovery site to find about potential problems to solve. Here you can find questions and their answers given in form of apps or product.">
<meta property="og:description" content="Question And Apps is a discovery site to find about potential problems to solve. Here you can find questions and their answers given in form of apps or product.">

<title>Question and Apps</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'base/css/scrolling-nav.css' %}" rel="stylesheet">
<link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119975922-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-119975922-1');
</script>

</head>

<body id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">QnApps</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#about">Idea</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#services">Use</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#funnel_in">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#contact">The Maker</a>
					</li>

					<a class="btn btn-danger navbar-btn" href="{% url 'core:browse_popular' %}">View Product</a>
				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container">
				<h1 class="masthead-heading mb-0">QnApps</h1>
				<h2 class="masthead-subheading mb-0"><small><small>Have a Question? There's an app for your answer!</small></small></h2>
				<!-- <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
			</div>
		</div>
		<div class="bg-circle-1 bg-circle"></div>
		<div class="bg-circle-2 bg-circle"></div>
		<div class="bg-circle-3 bg-circle"></div>
		<div class="bg-circle-4 bg-circle"></div>
	</header>


	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Idea</h2>
					<p class="lead">Every thing ever invented was thought of because of a question. Here I am collecting questions which have lead you to create ideas.</p>
					<p class="lead"><i>Every solution is created because a problem was identified.</i><br>Here you will list all problems and their solutions, which will help us (community) create better solutions and find problems to solve.</p>
					<p class="lead">On this site you will find questions whos answers are in the form of apps.</p>
					<br>
				</div>
			</div>
		</div>
	</section>

	<section id="services" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>How to use</h2>
					<p class="lead">
						The Question on this site are submitted by Indie hackers, product developers and also by people who are seeking solutions for their daily problems.
						<br><br>
						After submission, each question is verified by the developer to maintain authencity of this website. Making sure each question is unique and each app is correctly placed is taken very seriously.
						<br><br>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>How is this website useful?</h2>
					<p class="lead">
						<b><u>For Indie hackers and product developers</u></b><br>
						You can search for problems to solve here.<br><br>If you find a question related to a service you provide, you can submit your app as an answer to that question.
						<br><br>In addition to this, if you have already created a service, then you can submit a question whose answer is your solution and reach new audience.<br><br><br>

						<b><u>For consumers</u></b><br>
						You will find multiple services and apps answering your question.<br><br>You may find solutions to your existing questions, or find an alternative to your existing solution provider.
						<br><br>You can also ask questions, developers and indiehackers will try to provide solutions.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="funnel_in" class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Register</h2>
					<p class="lead">
						You can browse the website for questions by clicking the red button in the navigation bar, or by <a href="{% url 'core:browse_popular' %}">clicking here</a>. <br>
						However, in order to submit your product, you need to register.
					</p>
					<a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg">Free Registration</a>
					<br><br><p>
						or, if you already have an account here
					</p>
					<a href="{% url 'login' %}" class="btn btn-outline-danger">Login</a>
					
				</div>
			</div>
		</div>
	</section>


	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>The Maker</h2>
					<p class="lead">Hi, I Am Ali, and I made this site. Being an Indie hacker, I work on multiple small projects through out the year, and this is one of them. I am on my way to create profitable side projects by the end of 2018, with a goal of $500 monthly recurring revenue.<br></p>
					<p class="lead">
					I am mostly active on twitter, so if you have any passing remarks or hickups using my products, feel free to contact me on twitter. :-)</p>
					<a href="https://twitter.com/newlifeshoes?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @newlifeshoes</a>
					<a href="https://twitter.com/intent/tweet?screen_name=newlifeshoes&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-show-count="false">Tweet to @newlifeshoes</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<!-- <img src="https://pbs.twimg.com/profile_images/982524881764999168/XEs_-jBy_400x400.jpg"> -->
				</div>
			</div>
		</div>
	</section>

	{% include 'footer.html' %}

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Custom JavaScript for this theme -->
	<script src="{% static 'base/js/scrolling-nav.js' %}"></script>

</body>

</html>
