{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
{{top_text}} | {{ block.super }}
{% endblock %}

{% block header0 %}
{{ form.media }}
{% endblock %}

{% block qna_content %}
<div style="margin-top: 100px"></div>
<div class="row">
	<div class="col">

		<h3>{{top_text}}</h3>
		<!-- <h3><small>{{form_text}}</small></h3> -->

		<h4><u>How it works</u></h4>
		<p>To maintain the quality of this site, each question submitted is verified by admin.</p>
		<p>After writing in your question, you have option to either simple submit your question, or answer to your question with your own answer.</p>
		<p>In either case, admin will examine your question and approve on the basis of uniqueness and usefullness.</p>
		<p>If you are here to submit your app/website/service/product, <b>feel free to ask questions which are unique to your product.</b><i> In case a similar question exists, admin will move your answer to the pre existing question and your duplicate question will be deleted.</i></p>
	</div>
</div>
<div class="row">
	<div class="col">
		<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
			{{ form|crispy }}
			<input type='submit' name="simple_submit" class='btn btn-outline-primary btn-lg' value='{{ tab_text }}'/>
			<input type='submit' name="submit_answer" class='btn btn-primary btn-lg' value='Submit & Add Answer'/>
		</form>
	</div>
</div>
<div style="margin-top: 100px"></div>

{% endblock %}